ENCRYPTION_KEY=xxx

AUTH_SECRET=xx

POSTGRES_PASSWORD=admin
POSTGRES_USER=root
POSTGRES_DB=infisical

DB_CONNECTION_URI=postgres://root:admin@infisical-db:5432/infisical

REDIS_URL=redis://infisical-redis:6379

SITE_URL=http://localhost:4010

